/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/


#homeLogo {
  height: 2rem;
}

#searchParam{
  padding-left: 10px;
  height: 1.33em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border:none;outline:none;
}
.clearButton{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border:none;outline:none;
  padding-right: 4px;
} 